
    .back-div{
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: 500;
    color: #f79463;
    margin: 0 2em;
    & svg{
        font-size: 2em;
    }
}

.inv-form{
    font-size: 1.5em;
    height: 797px;
    width: 1034px;
    border-radius: 10px;
    box-shadow: 0px 21px 45px 0px #1E428A1A;
    border: 1px solid #E2E3EB;
    margin: 0 auto;
    .light-back{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #F1F7FA;
        width: 1034px;
        height:70px;
        border-radius: 10px 10px 0 0;
    }
    .flex-col{
        display: flex;
        justify-content: space-around;
    .input-div{
        display: flex;
        flex-direction: column;
        div{
            height: 55px;
            width: 400px;
            border-radius: 6px;
            border: 1px solid #D0d0d0;
        }
        input{
            height: 50px;
            width: 390px;
            font-weight: 500;
            border-radius: 6px;
            border: 0;
            outline: 0;
            padding-left: 1em
        }
        select{
            height: 50px;
            width: 390px;
            font-weight: 500;
            border-radius: 6px;
            border: 0;
            outline: 0;
            padding-left: 1em
        }
    }
}
.select-div{
    
   
    display: flex;
    flex-direction: column;
    margin: 2em;
    select{
        height: 55px;
        width: 885px;
        border-radius: 6px;
    }
}
.buttons{
    display: flex;
    justify-content: center;
    .btn-cancel{
        height: 50px;
        width: 100px;
        border-radius: 5px;
        padding: 10px 17px 10px 17px;
        margin-right: 1em;
        border: 2px solid #C4C4C4;
        font-size: 18px;
        font-weight: 500;
    }
    .btn-save{
        height: 50px;
        width: 197px;
        border-radius: 5px;
        padding: 10px 17px 10px 17px;
        background: #00B5FF;
        color: white;
        border: 0;
    }
}
}
