@import "../globals";

aside{
    position: fixed;
    bottom: 0;
    left: 0;
    width: min-max(10vw, 40vw);
    margin-top: 5px;
    .sidenav{
        padding: 2em;
        
        ul{
            li{
                list-style: none;
                padding: 1em;
                gap: 5px;
                font-size: 1em;
                svg{
                    color: rgb(59, 55, 55);
                    font-size: 1.7em;
                }
            }
        }
    }
}