.searchnav{
    padding: 0.8em;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 5em;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #F1F5F8;
    box-shadow: 0px 21px 45px 0px #1E428A1A;
    .logo{
        img{
            display: none;
        }
        width: 15.625em;
        height: 5em;
        padding: 1em;
        // box-shadow: 0px 21px 45px 0px #1E428A1A;
        .burger{
            font-size: 3em;
        }
    }
    .box{
        background: #f4f7f9;
        border-radius: 5px;
        display: none;
        align-items: center;
        padding: 0.5em;
        height: 2.375em;
        width: 31.4375em;
        left: 468px;
        top: 21px;

        input{
            border: none;
            outline: none;
            background: #f4f7f9;
            height: 2.375em;
            width: 1em;
            border-radius: 5px;

            
            &::placeholder{
                color: black;
                text-align: center;
            }
        }
    
    }
    .nav-icons{
        display: flex;
       align-items: right;
       justify-content: center;
        svg{
            color: #00B5FF;
            background: #f4f7f9;
            border: 1px solid #00B5FF;
            border-radius: 50%;
            font-size: 0.5em;
        }
    }
}

@media screen and (min-width: 768px){
    .searchnav{
    padding: 1.5em;
    top: 0;
    
    .logo{
        img{
            display: block;
        }
        .burger{
            display: none;
        }
    }
    .box{
        display: flex;
        width: 20em;
    input{
            border: none;
            outline: none;
            background: #f4f7f9;
           width: 20em;
            height: 2em;
            color: #00b5ff;
    }
}
     .nav-icons{
        display: flex;
        svg{
            margin-left: 1em;
            font-size: 2em;
            
        }
    }
    }
    
}