@import 'globals';

.create-acct{
    height: 200vh;
    line-height: 1.5em;
    font-family: Sans-Serif;
    font-size: 1.2rem;
    .imgv{
        margin: 1em;
    }
&::after{
    content: "";
    background: url("./images/bg-box.png");
    background-repeat: no-repeat;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.top{
    margin: 1em;
    padding: 0.5em;
    border-bottom: 1px solid black;
}
    .signup-form{
    border: 1px solid white;
    border-radius: 1em;
    background: white;
    position: relative;
    top: 1em;
    margin: 0 auto;
    height: max-content;
    width: 60vw;
    .d-flex{
        display: flex;
        justify-content: center;
        margin: 1em;
        .div-2{
            .input-item{
                border: 1px solid black;
                border-radius: 0.2em;
                margin: 1em;
            input{
            height: 3em;
            width: 17em;
            border: none;
            text-align: center;
            outline: none;
            }
        }
        }
    }
    .input-grp{
        display: flex;
        flex-direction: column;
        width: 40vw;
        margin: 20px auto;
           label{
                margin: 0.7em;
            }
        .input-item{
            border: 1px solid black;
            border-radius: 10px;
        input{
            height: 3.5em;
            border-radius: 5px;
            text-align: center;
            outline: none;
            border: none;
        }
    }
    }
    .checkbox-grp{
        font-size: 0.7em;
        display: flex;
        gap: 5px
    }
    .submit-grp{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .submit-btn{
            padding: 1em;
            font-size: 1em;
            color: white;
            background: rgb(57, 122, 201);
            border: none;
            border-radius: 1em;
             &:hover{
                transform: scale(0.8)
            }
        }
    }
}

}