.form-field{
    padding: 1em;
    border: 1px solid white;
    height: max-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .back-div{
        svg{
            color: orange;
            font-weight: bold;
        }
    }
}