@import "../globals";
.changePassword{
    background: url('../images/login-bg.png');
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin: 5em auto;
    h3{
        color: $lightblue
    }
    form{
        display: flex;
        flex-direction: column;
        background: $white;
        border-radius: 5px;
        width: 30vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        .password{
            margin: 1em;
            padding: 1em;
            border-radius: 5px;;
            width: 20vw;
            height: 3em;
        }
        .change-pwd{
            width: 10em;
            height: 3em;
            background: $blue;
            border: 0;
            border-radius: 5px;
        }
    }
}