@import "../globals";
// for small screens

    .login{
    background: url("../images/login-bg.png");
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    .form-div{
        background: $white;
        width: 100vw;
        height: 70vh;
        margin: 2em auto;
        padding: 1em;
        display: flex;
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .logo{
            margin: 1em;
            font-size: 1.6em;
        }
        .welcome{
            font-weight: 600;
            font-size: 1.1em;
            font-family: Poppins;
            line-height: 30px;
            letter-spacing: 0.3px;
            text-align: center;
            color: $rare;
            font-style: normal;
            margin-bottom: 1em;
            margin-top: 2em;
        }
        .login-txt{
            font-weight: 600;
            font-size: 1.3em;
            text-align: center;
            line-height: 2.3em;
            letter-spacing:0.2px;
            color: #333;
        }
        
        .input-grp{
            .input-item{
                width: 80vw;
                display: flex;
                align-items: center;
                margin: 1em auto;
            input{
                height: 50px;
                width: 70vw;
                border: 0;
                outline: 0;
                background: $lightblue;
                border-radius: 5px;
                padding-left: 10px;
                &:focus{
                    border:2px solid $blue;
                    background: $lightblue;
                }
            }
            .eye{
                cursor: pointer;
                position:relative;
                color: $lightblack;
                right:2em;
            }
        }
        
        }
        .forgot{
        margin: 2em auto;
        font-size: 0.8em;
        color: $blue;
        width:  80vw;
    }
    }
    
    .submit-btn{
            width: 180px;
            height: 50px;
            color: $white;
            border-radius: 5px;
            background: $blue;
            border: 0;
            &:hover{
                transform: scale(0.9)
            }
        }

    .foot{
        color: $line-color;
        margin: 2em;
    }
} 

// for larger screens
@media screen and (min-width: 550px){
.login{
    height: 110vh;
    .form-div{
        width: 37em;
        height: 90vh;
        margin: 2em;
        
        .input-grp{
            .input-item{
                width: 490px;
               
            input{
                width: 470px;
            }
        }
        
        }
        .forgot{
        width:35vw;
    }
    }
} 
}