
.tile{
    position: relative;
    top: 1em;
    left: 1em;
    .item{
        position: absolute;
        left: 0.5em;
        top: 0.3em;
    }
}
.desc-det{
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    right: 2em;
    top: 0.5em;
}
.itemval-bg{
    font-weight: 600;
    font-size: 30px;
    text-align:center;
}
.card-bg{
    height: 134px;
    width: 300px;
    border-radius: 10px;

}

.card-sm{
    height: 134px;
    width: 240px;
    border-radius: 10px;
}

.card-flex{
    display: flex;
    position: relative;
    left: 4em;
}