
.dash-table {
    border-collapse: collapse;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    left:5em;
    tr{
        border-top: 1px solid #E2E3EB
    }
    td{
        padding: 0.8em;
        text-align: center;
    }
    .grayback{
        background: linear-gradient(0deg, #E2E3EB, #E2E3EB),
linear-gradient(0deg, #F7F7FA, #F7F7FA);

    }
    .whiteback{
        background: white;
    }
}
    .foot{
        display: flex;
        column-span: span;
        justify-content: flex-end;
        position: absolute;
        bottom:-2em;
        right: 2em;
    }
