
.dash-table {
    border-collapse: collapse;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    left: 6em;
    width: 68.625em;
    tr{
        border-top: 1px solid #E2E3EB;
        
    }
    td{
        padding: 0.8em;
        text-align: center;
        height: 3.5em;
    }
    .grayback{
        background: linear-gradient(0deg, #E2E3EB, #E2E3EB),
linear-gradient(0deg, #F7F7FA, #F7F7FA);
        
    }
    .whiteback{
        background: white;
    }
}
    .foot{
        display: flex;
        column-span: span;
        justify-content: flex-end;
        position: absolute;
        bottom: -3em;
        right: 0em;

        select{
            font-size: 16px;
            font-weight: 400;
            text-align: left;
            border: none;
        }
    }
