
.dash-table {
    border: 0.5px solid linear-gradient(0deg, #F7F7FA, #F7F7FA);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    left: 8em;
    width: 68.625em;
    
    td{
        padding: 0.8em;
        text-align: center;
        height: 3.5em;
        svg{
            font-size: 2em;
        }
    }
    .grayback{
        background: #F7F7FA;
        position:relative;
        
    }
    .whiteback{
        background: white;
        position:relative;
    }
    .dialogbox{
        width: max-content;
        height: 10em;
        background: #fff;
        position: absolute;
        right: -1.5em;
        top: 1em;
       
    }
}
    .foot{
        display: flex;
        column-span: span;
        justify-content: flex-end;
        position: absolute;
        bottom: -3em;
        right: 0em;

        select{
            font-size: 16px;
            font-weight: 400;
            text-align: left;
            border: none;
        }
    }
