    .back-arrow{
        display: flex;
        align-items: center;
        font-size: 2em;
        color: #F79463;
        span{
            font-size: 0.5em;
        }
    }
    .pharmacy-profile{
    height: 716px;
    width: 275px;
    border-radius: 10px;
    box-shadow: 0px 21px 45px 0px #1E428A1A;
    margin: 1em;
    text-align: center;
    .grey-div{
        height: 121px;
        width: 275px;
        border-radius: 10px 10px 0 0;
        background: #666666;
        position: relative;
        
        .profile-img{
            width: 8em;
            height: 7em;
            border-radius: 50%;
            position: absolute;
            top: 4em;
            left: 4em;
        }
    }
    .alignments{
        padding: 4em 2em;
        p{
            margin: 1em auto;
        }
    .edit-name{
        width: 100%;
        margin-bottom: 0;
        
        p{
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            
        }
    }
    .click-edit{
        color:#00B5ff;
        cursor: pointer;
    }
    .activity{
        display: flex;
        align-items: center;
        justify-content: space-around;
    .dot{
        height: 10px;
        width: 10px;
        border-radius: 50%;
 
    }
    .green{
        background-color: #39B67b
    }
    .red{
        background-color: red;
    }
}
    .click-delete{
        color: red;
        cursor: pointer;
    }
}
}
.pharmacy-info{
    height: 716px;
    width: 666px;
    border-radius: 10px;
    box-shadow: 0px 21px 45px 0px #1E428A1A;
    margin: 1em;
    .grey-div-bg{
        height: 70px;
        width: 666px;
        border-radius: 10px 10px 0 0;
        background: #666666;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5em 2em;
        p{
            font-size: 20px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: -0.05000000074505806px;
            text-align: left;

        }
        button{
            color: white;
            background: #666666;
            border: 1px solid white;
            border-radius: 5px;
            height: 50px;
            width: 202px;
            font-size: 18px;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 10px;
        }
    }
    .contact-head{
        font-weight: 500;
        margin: 2em;
    }
    .contact-details{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 1em;
        text-align: center;
        .activity{
        display: flex;
        align-items: center;
        justify-content: space-around;
    .dot{
        height: 10px;
        width: 10px;
        border-radius: 50%;
 
    }
    .green{
        background-color: #39B67b
    }
    .red{
        background-color: red;
    }
}
    }
}